body{
    font-family: monospace;
    padding: 0px;
    background: url(1.jpg);
    background-repeat: no-repeat;
    background-size: 2300px;
    backface-visibility: initial;

}

h1{
    margin-top: 0px;
    text-align: center;
    font-size: 30px;
    color: white;
}
p {
    font-size: 18px;
    font-family: monospace;
    color: white;
}
.main{
    display: none;
    color: white;
}
.inner{
    margin: 10px;
}
fieldset{
    margin: 20px 50px;
    border-radius: 25px;
    color: white;
}
input{
    font-size: 17px;
    color: white;
}
button{
    width: 70px;
    height: 30px;
    margin-left: 100px;
    border: none;
    background-color: gray;
    border-radius: 5px;
    color: white;
    font-weight: bold;

}
button:hover{
    background-color: red;
    color: black;
    font-weight: bold;
    transition: 0.5s;
    width: 73px;
    height: 33px;
}

.result{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
    height: 33px;
    background-color:transparent;
    color: white;
    margin: auto;
}
.dis_none{
    display: none;
}